
* h1,
h2,
h3,
p, 
ul { 
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body {

    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;

}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.section {
    padding: 94px 0px; 

}


/*header*/
.header {
    border-bottom: 1px solid #ECECEC
}
.header-container {
    height: 75px;
display: flex;
align-items: center;
gap: 93px;
padding: 0px 15px;

}

.navigation {
align-items: center;
flex-grow: 1;
display: flex;
justify-content: space-between;
gap:  93px;

}

.header-menu {
display: flex;
gap: 50px;
}

.head {
    color: #757575;
    text-decoration: none;
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.8;

}

.head:hover{
    color:#2196F3;;
}

.header-name {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        text-decoration: none;
        color: #000000;
        letter-spacing: 0.03em;

       
}

.name {
     color: #2196F3;
 
}

.nomber {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    text-decoration: none;
        color: #757575;
       
}

/*hero title*/
.hero {
padding: 200px 0px;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 696px;
    justify-content: center;
   margin-bottom: 112px;
   margin: 0 auto;
   

}


.hero-title {
    
    background-color: #2F303A;
    color: #FFFFFF;
    text-transform:uppercase;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-align: center;
            margin: 0px 0px 30px 0px;
            
            
}

.primery-button {
    padding: 10px 32px;
    color: #FFFFFF;
background: #2196F3;
font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-radius: 4px;
    height: 50px;
    display: block;
    margin: 0 auto;
   
}

/*section-two*/
.two-ul {
    display: flex;
    gap: 30px;
   
}

.section-two {
    font-size: 14px;
    padding: 94px 0px 0px 0px;
}
.li-section-two {
    width: 270px;
}

.h3 {
    margin-bottom: 10px;   
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        color: #212121;
        text-align: left
}

.p-class {
    
    border-radius: 0px 0px 4px 4px;
    
}
.p-section {
    color: #757575;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-align: left;
   
}

.h2 {
    margin: 0px 0px 50px 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #212121;
    letter-spacing: 0.03em;
}

.p-name-comand {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #212121;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    
    

}

/*section three*/

.container-three {
    display: flex;
    justify-content: center;
    padding: 0px 15px;
 
}

.three-ul {
    display: flex;
    gap: 30px;
justify-content: center;
}

/*section four*/
.container-four {
    display: flex;
    justify-content: center;
    padding: 0px 15px;

}
.p-section-four {
    color: #757575;
        letter-spacing: 0.03em;
        line-height: 1.71;
        text-align: center;
        
}
.four-ul {
display: flex;
    gap: 30px;
    justify-content: center;
}
.container-p {
    padding: 30px 0px;
    text-align: center;
}

/*footer*/

.footer-container { }
    
.footer {
    background-color:#2F303A;
    color: #FFFFFF;
    padding: 60px 0px;
    
 
}
.address-footer {
    
    
}

.footer-adress {
    color: rgba(255, 255, 255, 0.6); ;
    text-decoration: none;
    
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 9px;
        display: block;
        
}
.footer-adress-1 {
    color: #FFFFFF;
    text-decoration: none;
        
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 9px;
        display: block;
}
.footer-name {
    margin-bottom: 20px;
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        display: block;
}

/*portfolio*/

ul {
    list-style-type: none;
    margin: 0;
     padding: 0;
}

.text-portfolio {
padding: 20px 24px;
border: 1px solid #eee;
}

.portfolio-p {
   
}
.ul-button {
    margin-bottom: 30px;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}
.picture-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
    
    
}

.portfolio-button {
    padding: 6px 22px;
    cursor: pointer;
     font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
    border-radius: 4px;
    letter-spacing: 0.03em;
    
  
    
}

.portfolio-button:hover { 
    background: #2196F3;
    color: #FFFFFF;
   
}
.class-button {
    
    }

.p-one {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
        letter-spacing: 0.06em;

}
.p-two {
color:#757575 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
